<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/menu/', 'pizza']" routerLinkActive="active">Pizza</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/menu/', 'salad' ]" routerLinkActive="active">Salad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/menu/', 'drinks']" routerLinkActive="active">Drinks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/payment' ]" routerLinkActive="active">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/basket' ]" routerLinkActive="active">Basket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/admin' ]" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
